// Predefined Break-points
$breakPoint-1: 960px;
$breakPoint-2: 480px;

.card {

  display: grid;
  grid-template-rows: 3fr 1fr;
  align-items: center;
  text-align: center;
  // background: linear-gradient(to bottom right, #B7F8DB, #50A7C2);
  // box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.27);
  border-radius: 25px;
  border: none;

  margin: 1em;

  width: 15em;
  height: 15em;

  cursor: pointer;
  color: white;

  .cardTitle {

    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.075em;
    // white-space: pre-wrap;

  }

  .cardDate {

    font-family: 'Fira Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.075em;


  }
}

.ReactModal__Overlay {
  z-index: 1;
}

.ReactModal__Content {
  border: none;
  border-radius: 10px;
  overflow: hidden;

  .closeTag {

    transform: translate( 5px, -15px );
    cursor: pointer;
    font-size: 30px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.63);
    text-align: right;
  }

  .detailsContainer {
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;


    .cardTitle {

      font-family: 'Fira Sans', sans-serif;
      font-style: normal;
      font-size: 40px;
      letter-spacing: 0.075em;

    }

    .cardDate {
      font-family: 'Fira Sans', sans-serif;
      font-style: normal;
      font-weight: lighter;
      font-size: 15px;
      text-align: center;
      letter-spacing: 0.075em;
      color: rgba(0, 0, 0, 0.67);
      padding-bottom: 50px;
      padding-left: 3px;

    }

    .cardDetails {
      font-family: 'Source Sans Pro', sans-serif;
      text-align: justify;
      font-size: 18px;
      line-height: 25px;
      white-space: pre-line;
    }

    .cardLinks {

      font-style: italic;

      .linkTitle {

      }

      .linkAdress {

        /* start of code to break link */

        /* These are technically the same, but use both */
        overflow-wrap: break-word;
        word-wrap: break-word;

        -ms-word-break: break-all;
        /* This is the dangerous one in WebKit, as it breaks things wherever */
        word-break: break-all;
        /* Instead use this non-standard one: */
        word-break: break-word;

        /* Adds a hyphen where the word breaks, if supported (No Blink) */
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;

        /* end of code to break link */

        a {
          text-decoration: none;
          color: rgb(26, 97, 116);
        }

      }

    }

    .cardImage {
      margin: auto;
    }

  }

}


@media (max-width: $breakPoint-2) {

  .ReactModal__Content {

    .detailsContainer {

      .cardImage {
        margin-top: 20px;
      }

    }

  }

}
