// Predefined Break-points
$breakPoint-1: 960px;
$breakPoint-2: 480px;


.imagesContainer {

  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  margin: 50px 20px;


  .images {

    width: 20em;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.29);
    transition: 0.3s;

  }

  .images:hover {
   box-shadow: none;
   transform: scale( 1.02 );
   opacity: 0.8;
  }

}


@media (max-width: $breakPoint-1) {

  .imagesContainer {

    .images {
      width: 17em;
      margin: 10px 5px;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.22);
    }

  }

}

@media (max-width: $breakPoint-2) {

  .imagesContainer {
    // justify-content: flex-start;

    margin: 5px;

    .images {
      width: 15em;
      margin: 8px 3px;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.22);
    }

  }

}
