$breakPoint-1: 1300px;

.footerContainer {

  position: fixed;
  bottom:0;
  left: 50%;
  transform: translateX(-50%);
  word-wrap: break-word;

  text-align: center;
  color: rgba(0, 0, 0, 0.58);
  font-style: italic;
  font-size: 10px;

}
